In [1]:
# Surgio a ideia de utilzar medias entre 
import numpy as np
import pandas as pd
#
df = pd.read_csv('weatherAUS.csv')

In [2]:
# Hipotese : Usar um valor médio para recuperar valores perdidos.
### Valores que podemos fazer media !
info = df[['Pressure9am','Pressure3pm','WindSpeed9am','WindSpeed3pm','Humidity9am','Humidity3pm','Cloud9am','Cloud3pm','Temp9am','Temp3pm']]
info.count()

Pressure9am     128179
Pressure3pm     128212
WindSpeed9am    140845
WindSpeed3pm    139563
Humidity9am     140419
Humidity3pm     138583
Cloud9am         88536
Cloud3pm         85099
Temp9am         141289
Temp3pm         139467
dtype: int64

In [3]:
## Lidar melhor com NaN pandas
df = df.fillna('None')

In [4]:
### Function que retorna uma media entre 9am e 3pm. Se um valor desses for null retornar apenas o não nulo entre eles.
def media (x,y):
    if x != 'None' and y != 'None':
        return (x+y)/2
    elif x == 'None' and y!= 'None':
        return y
    elif y == 'None' and x!= 'None':
        return x
    else:
        return None

In [5]:
## apply Media para Temp / Pressure / WindSpeed / Cloud / Humidity
df['Temp_Media'] = df.apply(lambda x: media(x['Temp9am'], x['Temp3pm']), axis=1)
df['Pressure_Media'] = df.apply(lambda x: media(x['Pressure9am'], x['Pressure3pm']), axis=1)
df['WindSpeed_Media'] = df.apply(lambda x: media(x['WindSpeed9am'], x['WindSpeed3pm']), axis=1)
df['Cloud_Media'] = df.apply(lambda x: media(x['Cloud9am'], x['Cloud3pm']), axis=1)
df['Humidity_Media'] = df.apply(lambda x: media(x['Humidity9am'], x['Humidity3pm']), axis=1)

In [6]:
# Resultado das Medias
df[['Temp_Media','Pressure_Media','WindSpeed_Media','Humidity_Media','Cloud_Media']].count()

Temp_Media         141840
Pressure_Media     128402
WindSpeed_Media    141312
Humidity_Media     141095
Cloud_Media         92516
dtype: int64

In [7]:
# Function para transformar Date em estação do ano
def season (x):
    x = str(x)
    new_date = x.split('-')
    mes = int(new_date[1])
    dia = int(new_date[2])
    
    if (mes < 3):
        return 'Summer'
    elif (mes == 3 ) and (dia < 20) :
        return 'Summer'
    elif (mes < 6):
        return 'Autumn'
    elif (mes == 6) and (dia < 21):
        return 'Autumn'
    elif (mes < 9):
        return 'Winter'
    elif (mes == 9) and (dia < 23):
        return 'Winter'
    elif (mes <12):
        return 'Spring'
    elif (mes == 12) and (dia < 22):
        return 'Spring'
    else:
        return 'Summer'

In [8]:
#Apply func Season
df['Season'] = df['Date'].apply(season)

In [9]:
# Remover linhas com nulos
df = df[df != 'None']
df = df.dropna()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Temp3pm,RainToday,RISK_MM,RainTomorrow,Temp_Media,Pressure_Media,WindSpeed_Media,Cloud_Media,Humidity_Media,Season
5939,2009-01-01,Cobar,17.9,35.2,0,12,12.3,SSW,48,ENE,...,33.4,No,0.0,No,30.00,1005.35,13.0,3.5,16.5,Summer
5940,2009-01-02,Cobar,18.4,28.9,0,14.8,13,S,37,SSE,...,27,No,0.0,No,23.65,1012.50,19.0,1.0,19.0,Summer
5942,2009-01-04,Cobar,19.4,37.6,0,10.8,10.6,NNE,46,NNE,...,34.9,No,0.0,No,31.80,1010.75,22.5,3.5,32.0,Summer
5943,2009-01-05,Cobar,21.9,38.4,0,11.4,12.2,WNW,31,WNW,...,35.6,No,0.0,No,32.35,1010.90,6.0,3.0,29.5,Summer
5944,2009-01-06,Cobar,24.2,41,0,11.2,8.4,WNW,35,NW,...,37.6,No,0.0,No,35.60,1009.05,15.0,3.5,17.0,Summer

In [10]:
# Criar Dummies
Season_dummies = pd.get_dummies(df.Season, prefix= 'Season')

In [11]:
# Fundir dois dataframes
df = pd.concat([df , Season_dummies], axis=1)

In [12]:
# Alterar valores  Yes e No
df = df.replace('No',0)
df = df.replace('Yes',1)

In [13]:
# Remover Colunas passadas
df.drop(['WindGustDir','WindDir9am','WindDir3pm','Temp3pm','Temp9am','RISK_MM','Location','Date','Pressure9am','Pressure3pm','Humidity9am','Humidity3pm','WindSpeed9am','WindSpeed3pm','Cloud3pm','Cloud9am','Season'],axis =1, inplace = True)

In [14]:
# Normalizar Dados
df = (df- df.min())/(df.max()-df.min())
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,RainToday,RainTomorrow,Temp_Media,Pressure_Media,WindSpeed_Media,Cloud_Media,Humidity_Media,Season_Autumn,Season_Spring,Season_Summer,Season_Winter
5939,0.645669,0.706818,0.0,0.147783,0.848276,0.339130,0.0,0.0,0.705584,0.427379,0.170543,0.4375,0.165,0.0,0.0,1.0,0.0
5940,0.658793,0.563636,0.0,0.182266,0.896552,0.243478,0.0,0.0,0.544416,0.546745,0.263566,0.1250,0.190,0.0,0.0,1.0,0.0
5942,0.685039,0.761364,0.0,0.133005,0.731034,0.321739,0.0,0.0,0.751269,0.517529,0.317829,0.4375,0.320,0.0,0.0,1.0,0.0
5943,0.750656,0.779545,0.0,0.140394,0.841379,0.191304,0.0,0.0,0.765228,0.520033,0.062016,0.3750,0.295,0.0,0.0,1.0,0.0
5944,0.811024,0.838636,0.0,0.137931,0.579310,0.226087,0.0,0.0,0.847716,0.489149,0.201550,0.4375,0.170,0.0,0.0,1.0,0.0

In [15]:
# Exportar Dataframe para CSV
df.to_csv('baseMedias.csv' , index = False)

In [16]:
## PASSADO 58090
## NOVO 60029