In [1]:
# Surgio a ideia de utilzar medias entre 
import numpy as np
import pandas as pd
#
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [2]:
# Hipotese : Usar um valor médio para recuperar valores perdidos.
# Fizemos uma media entre 9am e 3pm se um valor desses for null retornar apenas o não nulo entre eles.
info = df[['Pressure9am','Pressure3pm','WindSpeed9am','WindSpeed3pm','Humidity9am','Humidity3pm','Cloud9am','Cloud3pm','Temp9am','Temp3pm']]
info.count()

Pressure9am     128179
Pressure3pm     128212
WindSpeed9am    140845
WindSpeed3pm    139563
Humidity9am     140419
Humidity3pm     138583
Cloud9am         88536
Cloud3pm         85099
Temp9am         141289
Temp3pm         139467
dtype: int64

In [3]:
# If statement ======= Temperatura media 
conditions = [
    (df['Temp9am'].notnull()) & (df['Temp3pm'].notnull()),
    (df['Temp9am'].isnull()) & (df['Temp3pm'].notnull()),
    (df['Temp9am'].notnull()) & (df['Temp3pm'].isnull())]
choices = [
    (df['Temp9am'] + df['Temp3pm'])/2,
    df.Temp9am.fillna(df.Temp3pm),
    df.Temp3pm.fillna(df.Temp9am)]
df['Temp_Media'] = np.select(conditions, choices)

In [4]:
# If statement =============== Pressure Media
conditions = [
    (df['Pressure9am'].notnull()) & (df['Pressure3pm'].notnull()),
    (df['Pressure9am'].isnull()) & (df['Pressure3pm'].notnull()),
    (df['Pressure9am'].notnull()) & (df['Pressure3pm'].isnull())]
choices = [
    (df['Pressure9am'] + df['Pressure3pm'])/2,
    df.Pressure9am.fillna(df.Pressure3pm),
    df.Pressure3pm.fillna(df.Pressure9am)]
df['Pressure_Media'] = np.select(conditions, choices, default = None)

In [5]:
# If statement ===============  WINDSpeed_Media
conditions = [
    (df['WindSpeed9am'].notnull()) & (df['WindSpeed3pm'].notnull()),
    (df['WindSpeed9am'].isnull()) & (df['WindSpeed3pm'].notnull()),
    (df['WindSpeed9am'].notnull()) & (df['WindSpeed3pm'].isnull())]
choices = [
    (df['WindSpeed9am'] + df['WindSpeed3pm'])/2,
    df.WindSpeed9am.fillna(df.WindSpeed3pm),
    df.WindSpeed3pm.fillna(df.WindSpeed9am)]
df['WindSpeed_Media'] = np.select(conditions, choices, default = None)

In [6]:
# If statement ===============  Humidity_Media
conditions = [
    (df['Humidity9am'].notnull()) & (df['Humidity3pm'].notnull()),
    (df['Humidity9am'].isnull()) & (df['Humidity3pm'].notnull()),
    (df['Humidity9am'].notnull()) & (df['Humidity3pm'].isnull())]
choices = [
    (df['Humidity9am'] + df['Humidity3pm'])/2,
    df.Humidity9am.fillna(df.Humidity3pm),
    df.Humidity3pm.fillna(df.Humidity9am)]
df['Humidity_Media'] = np.select(conditions, choices, default = None)

In [7]:
# If statement ===============  Clouds_Media
conditions = [
    (df['Cloud9am'].notnull()) & (df['Cloud3pm'].notnull()),
    (df['Cloud9am'].isnull()) & (df['Cloud3pm'].notnull()),
    (df['Cloud9am'].notnull()) & (df['Cloud3pm'].isnull())]
choices = [
    (df['Cloud9am'] + df['Cloud3pm'])/2,
    df.Cloud9am.fillna(df.Cloud3pm),
    df.Cloud3pm.fillna(df.Cloud9am)]
df['Cloud_Media'] = np.select(conditions, choices, default = None)

In [8]:
# Resultado das Medias
df[['Temp_Media','Pressure_Media','WindSpeed_Media','Humidity_Media','Cloud_Media']].count()

Temp_Media         142193
Pressure_Media     128402
WindSpeed_Media    141312
Humidity_Media     141095
Cloud_Media         92516
dtype: int64

In [9]:
# Remover Colunas passadas
df.drop(['WindGustDir','WindDir9am','WindDir3pm','Temp3pm','Temp9am','RISK_MM','Location','Date','Pressure9am','Pressure3pm','Humidity9am','Humidity3pm','WindSpeed9am','WindSpeed3pm','Cloud3pm','Cloud9am'],axis =1, inplace = True)

In [10]:
df.count()

MinTemp            141556
MaxTemp            141871
Rainfall           140787
Evaporation         81350
Sunshine            74377
WindGustSpeed      132923
RainToday          140787
RainTomorrow       142193
Temp_Media         142193
Pressure_Media     128402
WindSpeed_Media    141312
Humidity_Media     141095
Cloud_Media         92516
dtype: int64

In [11]:
# Remover linhas com nulos
df = df.dropna()

In [12]:
# Exportar Dataframe para CSV
df.to_csv('baseMedias.csv')